<a href="https://colab.research.google.com/github/Ladvika/Data-analytics/blob/main/EDA_project_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **EDA PROJECT**

In [1]:
#importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## **Loading the csv file in google drive**

In [2]:
#from google.colab import drive
#drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Students Data.csv')

In [3]:
df.head()

,Timestamp,Username,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,...,Preferred Job Role,Are you planning for higher studies?,Rate your communication skills,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?
0,2025/12/17 10:33:25 PM GMT+5:30,easwarsai745@gmail.com,Y Easwar Sai Yaswanth,20,Male,Vinukonda,Narasaraopet Engeneering college,Data Science,2nd Year,2028,...,Software Developer,No,2,Medium,No,HackerRank,No,NaN,NaN,No
1,2025/12/17 10:42:18 PM GMT+5:30,ashokgudimetla@365gmail.com,Gudimetla Ashok,19,Male,Ongole,Narasaropeta Engineering college,Data Science,2nd Year,2028,...,Data Analyst,No,2,Medium,No,HackerRank,No,Data Analytics,3 months,Yes
2,2025/12/17 10:43:09 PM GMT+5:30,skabdulfamim2345@gmail.com,SHAIK ABDUL FAMIM,20,Male,CHILAKALURIPET,Narasaraopeta Engineering College,AI & ML,2nd Year,2028,...,Data Analyst,Yes,3,Low,No,HackerRank,No,Data Analytics,NaN,No
3,2025/12/18 5:20:40 AM GMT+5:30,swethaeedumalli@gmail.com,Eedumalli Swetha,19,Female,Narasaraopeta,NEC,Data Science,3rd Year,2027,...,Data Analyst,No,3,Low,Yes,LeetCode;HackerRank;CodeChef;GeeksforGeeks,Yes,Data Analytics,1 month,No
4,2025/12/18 7:34:20 AM GMT+5:30,madhuriborra06@gmail.com,B.madhuri prasanna sri,20,Female,Narasaraopet,Narasaraopeta engineering college,CSE,3rd Year,2027,...,Data Analyst,No,5,Medium,No,LeetCode;HackerRank,No,Data Analytics,6,No

In [4]:
df.tail()

,Timestamp,Username,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,...,Preferred Job Role,Are you planning for higher studies?,Rate your communication skills,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?
122,2025/12/18 5:19:30 PM GMT+5:30,madhavasomarajupalli@gmail.com,S.madhava krishna,20,Male,Narasaraopet,Narasaraopet engineering college,ECE,2nd Year,2028,...,Software Developer,Yes,3,Medium,No,HackerRank,No,Data Analytics,6,No
123,2025/12/18 5:38:03 PM GMT+5:30,saiharshithaganjanaboina@gmail.com,G. Sai harshitha,19,Female,Sattenapalli,Nec,Cyber Security,2nd Year,-,...,Cyber Security Analyst,No,4,Medium,No,HackerRank,No,Cyber Security,-,No
124,2025/12/18 7:05:17 PM GMT+5:30,anushagottam1@gmail.com,Gottam Anusha,18,Female,Sattenapalli,NARASARAOPET ENGINEERING COLLEGE,AI & ML,2nd Year,2028,...,ML Engineer,Yes,3,Medium,No,LeetCode;HackerRank,No,AI / ML,6 months,No
125,2025/12/18 7:23:36 PM GMT+5:30,jagadeeshbaddula10@gmail.com,Jagadeesh baddula,22,Male,Chilakaluripet,Sri Mittapalli college of engineering,AI,3rd Year,2027,...,ML Engineer,Yes,2,Medium,No,NaN,No,AI / ML,No,No
126,2025/12/18 7:40:45 PM GMT+5:30,amruthadoddaka@gmail.com,Amrutha Doddaka,19,Female,Ramakuru,Narasaraopet Engeneering college,AI & ML,2nd Year,2028,...,ML Engineer,Yes,4,High,Yes,HackerRank,No,Web Development,.,No

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 41 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Timestamp                                            127 non-null    object
 1   Username                                             127 non-null    object
 2   Name                                                 127 non-null    object
 3     Age                                                127 non-null    object
 4   Gender                                               127 non-null    object
 5     City                                               127 non-null    object
 6   College Name                                         127 non-null    object
 7   Branch                                               127 non-null    object
 8     Current Year of Study                              127 non-null    object
 9     Passed Out Year                                    127 non-null    object
 10   SSC CGPA                                            126 non-null    object
 11  Intermediate / Diploma CGPA                          127 non-null    object
 12  Current CGPA                                         120 non-null    object
 13  Number of Backlogs (if any)                          119 non-null    object
 14  Interested Domain                                    127 non-null    object
 15  Python Skill Level                                   127 non-null    object
 16  SQL Skill Level                                      127 non-null    object
 17    Programming Languages Known                        127 non-null    object
 18  Tools Known                                          126 non-null    object
 19  Do you take online courses (Coursera, Udemy, etc.)?  127 non-null    object
 20  Number of Projects Done                              120 non-null    object
 21  Certificates Count                                   124 non-null    object
 22    GitHub Profile Link                                118 non-null    object
 23    Personal Portfolio Website                         113 non-null    object
 24    Learning Mode Preference                           127 non-null    object
 25    Self Learning Hours per Week                       126 non-null    object
 26  Average Daily Study Hours                            127 non-null    object
 27  Average Daily Screen Time                            127 non-null    object
 28  Next Interested Workshop                             127 non-null    object
 29  Do you have a mentor for technical/career guidance?  127 non-null    object
 30  Expected Placement Package (LPA)                     127 non-null    object
 31  Preferred Job Role                                   127 non-null    object
 32  Are you planning for higher studies?                 127 non-null    object
 33  Rate your communication skills                       127 non-null    int64
 34  Aptitude Skill Level                                 127 non-null    object
 35  Do you have leadership experience?                   127 non-null    object
 36  Coding Platforms Used                                108 non-null    object
 37  Have you completed any internship?                   127 non-null    object
 38  Internship Domain                                    107 non-null    object
 39  Internship Duration (in months)                      97 non-null     object
 40  Did you receive a stipend?                           113 non-null    object
dtypes: int64(1), object(40)
memory usage: 40.8+ KB

In [6]:
df.describe()

       Rate your communication skills
count                      127.000000
mean                         2.960630
std                          0.885524
min                          1.000000
25%                          3.000000
50%                          3.000000
75%                          3.000000
max                          5.000000

In [7]:
df.columns

Index(['Timestamp', 'Username', 'Name ', '  Age  ', 'Gender ', '  City  ',
       'College Name ', 'Branch  ', '  Current Year of Study  ',
       '  Passed Out Year  ', ' SSC CGPA  ', 'Intermediate / Diploma CGPA ',
       'Current CGPA ', 'Number of Backlogs (if any)', 'Interested Domain  ',
       'Python Skill Level ', 'SQL Skill Level',
       '  Programming Languages Known  ', 'Tools Known',
       'Do you take online courses (Coursera, Udemy, etc.)?',
       'Number of Projects Done  ', 'Certificates Count  ',
       '  GitHub Profile Link  ', '  Personal Portfolio Website  ',
       '  Learning Mode Preference  ', '  Self Learning Hours per Week  ',
       'Average Daily Study Hours', 'Average Daily Screen Time',
       'Next Interested Workshop ',
       'Do you have a mentor for technical/career guidance?',
       'Expected Placement Package (LPA)', 'Preferred Job Role',
       'Are you planning for higher studies?',
       'Rate your communication skills', 'Aptitude Skill Level',
       'Do you have leadership experience?', 'Coding Platforms Used',
       'Have you completed any internship?', 'Internship Domain',
       'Internship Duration (in months)', 'Did you receive a stipend?'],
      dtype='object')

## **fix the column names**

In [8]:
#fix cloumn names
df.columns = df.columns.str.strip()
print(df.columns)

Index(['Timestamp', 'Username', 'Name', 'Age', 'Gender', 'City',
       'College Name', 'Branch', 'Current Year of Study', 'Passed Out Year',
       'SSC CGPA', 'Intermediate / Diploma CGPA', 'Current CGPA',
       'Number of Backlogs (if any)', 'Interested Domain',
       'Python Skill Level', 'SQL Skill Level', 'Programming Languages Known',
       'Tools Known', 'Do you take online courses (Coursera, Udemy, etc.)?',
       'Number of Projects Done', 'Certificates Count', 'GitHub Profile Link',
       'Personal Portfolio Website', 'Learning Mode Preference',
       'Self Learning Hours per Week', 'Average Daily Study Hours',
       'Average Daily Screen Time', 'Next Interested Workshop',
       'Do you have a mentor for technical/career guidance?',
       'Expected Placement Package (LPA)', 'Preferred Job Role',
       'Are you planning for higher studies?',
       'Rate your communication skills', 'Aptitude Skill Level',
       'Do you have leadership experience?', 'Coding Platforms Used',
       'Have you completed any internship?', 'Internship Domain',
       'Internship Duration (in months)', 'Did you receive a stipend?'],
      dtype='object')

## **droping the columns**

In [9]:
df.drop(columns = ['GitHub Profile Link'], inplace= True)

In [10]:
df.columns

Index(['Timestamp', 'Username', 'Name', 'Age', 'Gender', 'City',
       'College Name', 'Branch', 'Current Year of Study', 'Passed Out Year',
       'SSC CGPA', 'Intermediate / Diploma CGPA', 'Current CGPA',
       'Number of Backlogs (if any)', 'Interested Domain',
       'Python Skill Level', 'SQL Skill Level', 'Programming Languages Known',
       'Tools Known', 'Do you take online courses (Coursera, Udemy, etc.)?',
       'Number of Projects Done', 'Certificates Count',
       'Personal Portfolio Website', 'Learning Mode Preference',
       'Self Learning Hours per Week', 'Average Daily Study Hours',
       'Average Daily Screen Time', 'Next Interested Workshop',
       'Do you have a mentor for technical/career guidance?',
       'Expected Placement Package (LPA)', 'Preferred Job Role',
       'Are you planning for higher studies?',
       'Rate your communication skills', 'Aptitude Skill Level',
       'Do you have leadership experience?', 'Coding Platforms Used',
       'Have you completed any internship?', 'Internship Domain',
       'Internship Duration (in months)', 'Did you receive a stipend?'],
      dtype='object')

### **type of identification**

In [11]:
df.dtypes

Timestamp                                              object
Username                                               object
Name                                                   object
Age                                                    object
Gender                                                 object
City                                                   object
College Name                                           object
Branch                                                 object
Current Year of Study                                  object
Passed Out Year                                        object
SSC CGPA                                               object
Intermediate / Diploma CGPA                            object
Current CGPA                                           object
Number of Backlogs (if any)                            object
Interested Domain                                      object
Python Skill Level                                     object
SQL Skill Level                                        object
Programming Languages Known                            object
Tools Known                                            object
Do you take online courses (Coursera, Udemy, etc.)?    object
Number of Projects Done                                object
Certificates Count                                     object
Personal Portfolio Website                             object
Learning Mode Preference                               object
Self Learning Hours per Week                           object
Average Daily Study Hours                              object
Average Daily Screen Time                              object
Next Interested Workshop                               object
Do you have a mentor for technical/career guidance?    object
Expected Placement Package (LPA)                       object
Preferred Job Role                                     object
Are you planning for higher studies?                   object
Rate your communication skills                          int64
Aptitude Skill Level                                   object
Do you have leadership experience?                     object
Coding Platforms Used                                  object
Have you completed any internship?                     object
Internship Domain                                      object
Internship Duration (in months)                        object
Did you receive a stipend?                             object
dtype: object

### **fix age**

In [12]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df

,Timestamp,Username,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,...,Preferred Job Role,Are you planning for higher studies?,Rate your communication skills,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?
0,2025/12/17 10:33:25 PM GMT+5:30,easwarsai745@gmail.com,Y Easwar Sai Yaswanth,20.0,Male,Vinukonda,Narasaraopet Engeneering college,Data Science,2nd Year,2028,...,Software Developer,No,2,Medium,No,HackerRank,No,NaN,NaN,No
1,2025/12/17 10:42:18 PM GMT+5:30,ashokgudimetla@365gmail.com,Gudimetla Ashok,19.0,Male,Ongole,Narasaropeta Engineering college,Data Science,2nd Year,2028,...,Data Analyst,No,2,Medium,No,HackerRank,No,Data Analytics,3 months,Yes
2,2025/12/17 10:43:09 PM GMT+5:30,skabdulfamim2345@gmail.com,SHAIK ABDUL FAMIM,20.0,Male,CHILAKALURIPET,Narasaraopeta Engineering College,AI & ML,2nd Year,2028,...,Data Analyst,Yes,3,Low,No,HackerRank,No,Data Analytics,NaN,No
3,2025/12/18 5:20:40 AM GMT+5:30,swethaeedumalli@gmail.com,Eedumalli Swetha,19.0,Female,Narasaraopeta,NEC,Data Science,3rd Year,2027,...,Data Analyst,No,3,Low,Yes,LeetCode;HackerRank;CodeChef;GeeksforGeeks,Yes,Data Analytics,1 month,No
4,2025/12/18 7:34:20 AM GMT+5:30,madhuriborra06@gmail.com,B.madhuri prasanna sri,20.0,Female,Narasaraopet,Narasaraopeta engineering college,CSE,3rd Year,2027,...,Data Analyst,No,5,Medium,No,LeetCode;HackerRank,No,Data Analytics,6,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2025/12/18 5:19:30 PM GMT+5:30,madhavasomarajupalli@gmail.com,S.madhava krishna,20.0,Male,Narasaraopet,Narasaraopet engineering college,ECE,2nd Year,2028,...,Software Developer,Yes,3,Medium,No,HackerRank,No,Data Analytics,6,No
123,2025/12/18 5:38:03 PM GMT+5:30,saiharshithaganjanaboina@gmail.com,G. Sai harshitha,19.0,Female,Sattenapalli,Nec,Cyber Security,2nd Year,-,...,Cyber Security Analyst,No,4,Medium,No,HackerRank,No,Cyber Security,-,No
124,2025/12/18 7:05:17 PM GMT+5:30,anushagottam1@gmail.com,Gottam Anusha,18.0,Female,Sattenapalli,NARASARAOPET ENGINEERING COLLEGE,AI & ML,2nd Year,2028,...,ML Engineer,Yes,3,Medium,No,LeetCode;HackerRank,No,AI / ML,6 months,No
125,2025/12/18 7:23:36 PM GMT+5:30,jagadeeshbaddula10@gmail.com,Jagadeesh baddula,22.0,Male,Chilakaluripet,Sri Mittapalli college of engineering,AI,3rd Year,2027,...,ML Engineer,Yes,2,Medium,No,NaN,No,AI / ML,No,No
126,2025/12/18 7:40:45 PM GMT+5:30,amruthadoddaka@gmail.com,Amrutha Doddaka,19.0,Female,Ramakuru,Narasaraopet Engeneering college,AI & ML,2nd Year,2028,...,ML Engineer,Yes,4,High,Yes,HackerRank,No,Web Development,.,No

### **time stamp**

In [13]:
df['Timestamp'] = pd.to_datetime(df['Timestamp']).dt.tz_localize(None)
print(df['Timestamp'])

0     2025-12-17 22:33:25
1     2025-12-17 22:42:18
2     2025-12-17 22:43:09
3     2025-12-18 05:20:40
4     2025-12-18 07:34:20
              ...
122   2025-12-18 17:19:30
123   2025-12-18 17:38:03
124   2025-12-18 19:05:17
125   2025-12-18 19:23:36
126   2025-12-18 19:40:45
Name: Timestamp, Length: 127, dtype: datetime64[ns]

/tmp/ipython-input-124358103.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Timestamp'] = pd.to_datetime(df['Timestamp']).dt.tz_localize(None)

### **cgpa columns**

In [14]:
cgpa_cols = [
    'SSC CGPA',
    'Intermediate / Diploma CGPA',
    'Current CGPA'
]
for col in cgpa_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')
print(df[cgpa_cols])

     SSC CGPA  Intermediate / Diploma CGPA  Current CGPA
0        7.50                         7.35          7.79
1       69.83                          NaN         79.91
2       10.00                       576.00          7.00
3        8.50                        80.00          8.30
4        8.00                       905.00          8.00
..        ...                          ...           ...
122      8.00                         8.30          7.55
123       NaN                          NaN          8.00
124       NaN                          NaN           NaN
125    587.00                       714.00          6.50
126      8.20                         6.90          7.20

[127 rows x 3 columns]

### **covert into cgpa upto 10**

In [15]:
for col in cgpa_cols:
    df.loc[df[col] > 10, col] = df[col] / 100
print(df[cgpa_cols])

     SSC CGPA  Intermediate / Diploma CGPA  Current CGPA
0      7.5000                         7.35        7.7900
1      0.6983                          NaN        0.7991
2     10.0000                         5.76        7.0000
3      8.5000                         0.80        8.3000
4      8.0000                         9.05        8.0000
..        ...                          ...           ...
122    8.0000                         8.30        7.5500
123       NaN                          NaN        8.0000
124       NaN                          NaN           NaN
125    5.8700                         7.14        6.5000
126    8.2000                         6.90        7.2000

[127 rows x 3 columns]

### **cgpa states**

In [16]:
df['Current CGPA'].agg(['min', 'max' , 'mean'])

min     0.000000
max     9.340000
mean    7.096275
Name: Current CGPA, dtype: float64

### **placement package**

In [17]:
df[['LPA_Min', 'LPA_Max']] = (
    df['Expected Placement Package (LPA)']
    .str.split('-', expand=True)
)
df['LPA_Min'] = pd.to_numeric(df['LPA_Min'], errors='coerce')
df['LPA_Max'] = pd.to_numeric(df['LPA_Max'], errors='coerce')
df['Expected_LPA_Avg'] = (df['LPA_Min'] + df['LPA_Max']) / 2
df

,Timestamp,Username,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,...,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?,LPA_Min,LPA_Max,Expected_LPA_Avg
0,2025-12-17 22:33:25,easwarsai745@gmail.com,Y Easwar Sai Yaswanth,20.0,Male,Vinukonda,Narasaraopet Engeneering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,No,NaN,NaN,No,5,7,6.0
1,2025-12-17 22:42:18,ashokgudimetla@365gmail.com,Gudimetla Ashok,19.0,Male,Ongole,Narasaropeta Engineering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,No,Data Analytics,3 months,Yes,3,5,4.0
2,2025-12-17 22:43:09,skabdulfamim2345@gmail.com,SHAIK ABDUL FAMIM,20.0,Male,CHILAKALURIPET,Narasaraopeta Engineering College,AI & ML,2nd Year,2028,...,Low,No,HackerRank,No,Data Analytics,NaN,No,5,7,6.0
3,2025-12-18 05:20:40,swethaeedumalli@gmail.com,Eedumalli Swetha,19.0,Female,Narasaraopeta,NEC,Data Science,3rd Year,2027,...,Low,Yes,LeetCode;HackerRank;CodeChef;GeeksforGeeks,Yes,Data Analytics,1 month,No,5,7,6.0
4,2025-12-18 07:34:20,madhuriborra06@gmail.com,B.madhuri prasanna sri,20.0,Female,Narasaraopet,Narasaraopeta engineering college,CSE,3rd Year,2027,...,Medium,No,LeetCode;HackerRank,No,Data Analytics,6,No,3,5,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2025-12-18 17:19:30,madhavasomarajupalli@gmail.com,S.madhava krishna,20.0,Male,Narasaraopet,Narasaraopet engineering college,ECE,2nd Year,2028,...,Medium,No,HackerRank,No,Data Analytics,6,No,3,5,4.0
123,2025-12-18 17:38:03,saiharshithaganjanaboina@gmail.com,G. Sai harshitha,19.0,Female,Sattenapalli,Nec,Cyber Security,2nd Year,-,...,Medium,No,HackerRank,No,Cyber Security,-,No,3,5,4.0
124,2025-12-18 19:05:17,anushagottam1@gmail.com,Gottam Anusha,18.0,Female,Sattenapalli,NARASARAOPET ENGINEERING COLLEGE,AI & ML,2nd Year,2028,...,Medium,No,LeetCode;HackerRank,No,AI / ML,6 months,No,7,9,8.0
125,2025-12-18 19:23:36,jagadeeshbaddula10@gmail.com,Jagadeesh baddula,22.0,Male,Chilakaluripet,Sri Mittapalli college of engineering,AI,3rd Year,2027,...,Medium,No,NaN,No,AI / ML,No,No,7,9,8.0
126,2025-12-18 19:40:45,amruthadoddaka@gmail.com,Amrutha Doddaka,19.0,Female,Ramakuru,Narasaraopet Engeneering college,AI & ML,2nd Year,2028,...,High,Yes,HackerRank,No,Web Development,.,No,3,5,4.0

In [18]:
df.columns

Index(['Timestamp', 'Username', 'Name', 'Age', 'Gender', 'City',
       'College Name', 'Branch', 'Current Year of Study', 'Passed Out Year',
       'SSC CGPA', 'Intermediate / Diploma CGPA', 'Current CGPA',
       'Number of Backlogs (if any)', 'Interested Domain',
       'Python Skill Level', 'SQL Skill Level', 'Programming Languages Known',
       'Tools Known', 'Do you take online courses (Coursera, Udemy, etc.)?',
       'Number of Projects Done', 'Certificates Count',
       'Personal Portfolio Website', 'Learning Mode Preference',
       'Self Learning Hours per Week', 'Average Daily Study Hours',
       'Average Daily Screen Time', 'Next Interested Workshop',
       'Do you have a mentor for technical/career guidance?',
       'Expected Placement Package (LPA)', 'Preferred Job Role',
       'Are you planning for higher studies?',
       'Rate your communication skills', 'Aptitude Skill Level',
       'Do you have leadership experience?', 'Coding Platforms Used',
       'Have you completed any internship?', 'Internship Domain',
       'Internship Duration (in months)', 'Did you receive a stipend?',
       'LPA_Min', 'LPA_Max', 'Expected_LPA_Avg'],
      dtype='object')

### **fixed study hours**

In [19]:
study_map = {
    'Less than 1 hour': 0.5,
    '1-2 hours': 1.5,
    '2-4 hours': 3,
    'More than 4 hours': 5
}
df['Average Daily Study Hours'] = df['Average Daily Study Hours'].map(study_map)
df['Average Daily Screen Time'] = df['Average Daily Screen Time'].map(study_map)
df

,Timestamp,Username,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,...,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?,LPA_Min,LPA_Max,Expected_LPA_Avg
0,2025-12-17 22:33:25,easwarsai745@gmail.com,Y Easwar Sai Yaswanth,20.0,Male,Vinukonda,Narasaraopet Engeneering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,No,NaN,NaN,No,5,7,6.0
1,2025-12-17 22:42:18,ashokgudimetla@365gmail.com,Gudimetla Ashok,19.0,Male,Ongole,Narasaropeta Engineering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,No,Data Analytics,3 months,Yes,3,5,4.0
2,2025-12-17 22:43:09,skabdulfamim2345@gmail.com,SHAIK ABDUL FAMIM,20.0,Male,CHILAKALURIPET,Narasaraopeta Engineering College,AI & ML,2nd Year,2028,...,Low,No,HackerRank,No,Data Analytics,NaN,No,5,7,6.0
3,2025-12-18 05:20:40,swethaeedumalli@gmail.com,Eedumalli Swetha,19.0,Female,Narasaraopeta,NEC,Data Science,3rd Year,2027,...,Low,Yes,LeetCode;HackerRank;CodeChef;GeeksforGeeks,Yes,Data Analytics,1 month,No,5,7,6.0
4,2025-12-18 07:34:20,madhuriborra06@gmail.com,B.madhuri prasanna sri,20.0,Female,Narasaraopet,Narasaraopeta engineering college,CSE,3rd Year,2027,...,Medium,No,LeetCode;HackerRank,No,Data Analytics,6,No,3,5,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2025-12-18 17:19:30,madhavasomarajupalli@gmail.com,S.madhava krishna,20.0,Male,Narasaraopet,Narasaraopet engineering college,ECE,2nd Year,2028,...,Medium,No,HackerRank,No,Data Analytics,6,No,3,5,4.0
123,2025-12-18 17:38:03,saiharshithaganjanaboina@gmail.com,G. Sai harshitha,19.0,Female,Sattenapalli,Nec,Cyber Security,2nd Year,-,...,Medium,No,HackerRank,No,Cyber Security,-,No,3,5,4.0
124,2025-12-18 19:05:17,anushagottam1@gmail.com,Gottam Anusha,18.0,Female,Sattenapalli,NARASARAOPET ENGINEERING COLLEGE,AI & ML,2nd Year,2028,...,Medium,No,LeetCode;HackerRank,No,AI / ML,6 months,No,7,9,8.0
125,2025-12-18 19:23:36,jagadeeshbaddula10@gmail.com,Jagadeesh baddula,22.0,Male,Chilakaluripet,Sri Mittapalli college of engineering,AI,3rd Year,2027,...,Medium,No,NaN,No,AI / ML,No,No,7,9,8.0
126,2025-12-18 19:40:45,amruthadoddaka@gmail.com,Amrutha Doddaka,19.0,Female,Ramakuru,Narasaraopet Engeneering college,AI & ML,2nd Year,2028,...,High,Yes,HackerRank,No,Web Development,.,No,3,5,4.0

### **mising values**

In [20]:
df.isnull()

,Timestamp,Username,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,...,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?,LPA_Min,LPA_Max,Expected_LPA_Avg
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
125,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
126,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [21]:
df.isnull().sum()

Timestamp                                               0
Username                                                0
Name                                                    0
Age                                                     1
Gender                                                  0
City                                                    0
College Name                                            0
Branch                                                  0
Current Year of Study                                   0
Passed Out Year                                         0
SSC CGPA                                               31
Intermediate / Diploma CGPA                            38
Current CGPA                                           21
Number of Backlogs (if any)                             8
Interested Domain                                       0
Python Skill Level                                      0
SQL Skill Level                                         0
Programming Languages Known                             0
Tools Known                                             1
Do you take online courses (Coursera, Udemy, etc.)?     0
Number of Projects Done                                 7
Certificates Count                                      3
Personal Portfolio Website                             14
Learning Mode Preference                                0
Self Learning Hours per Week                            1
Average Daily Study Hours                              85
Average Daily Screen Time                              79
Next Interested Workshop                                0
Do you have a mentor for technical/career guidance?     0
Expected Placement Package (LPA)                        0
Preferred Job Role                                      0
Are you planning for higher studies?                    0
Rate your communication skills                          0
Aptitude Skill Level                                    0
Do you have leadership experience?                      0
Coding Platforms Used                                  19
Have you completed any internship?                      0
Internship Domain                                      20
Internship Duration (in months)                        30
Did you receive a stipend?                             14
LPA_Min                                                 0
LPA_Max                                                 0
Expected_LPA_Avg                                        0
dtype: int64

### **value count**

In [22]:
df['Preferred Job Role'].value_counts()

Preferred Job Role
Data Analyst                59
Software Developer          27
Cyber Security Analyst      13
Data Scientist              11
ML Engineer                 11
Penetrating tester           1
Cybersecurity pentester      1
No plane                     1
Professor                    1
AI engineer                  1
decoding                     1
Name: count, dtype: int64

### **filling missing values**

In [23]:
df.fillna(method='ffill', inplace=True)
df

/tmp/ipython-input-3303779087.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

,Timestamp,Username,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,...,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?,LPA_Min,LPA_Max,Expected_LPA_Avg
0,2025-12-17 22:33:25,easwarsai745@gmail.com,Y Easwar Sai Yaswanth,20.0,Male,Vinukonda,Narasaraopet Engeneering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,No,NaN,NaN,No,5,7,6.0
1,2025-12-17 22:42:18,ashokgudimetla@365gmail.com,Gudimetla Ashok,19.0,Male,Ongole,Narasaropeta Engineering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,No,Data Analytics,3 months,Yes,3,5,4.0
2,2025-12-17 22:43:09,skabdulfamim2345@gmail.com,SHAIK ABDUL FAMIM,20.0,Male,CHILAKALURIPET,Narasaraopeta Engineering College,AI & ML,2nd Year,2028,...,Low,No,HackerRank,No,Data Analytics,3 months,No,5,7,6.0
3,2025-12-18 05:20:40,swethaeedumalli@gmail.com,Eedumalli Swetha,19.0,Female,Narasaraopeta,NEC,Data Science,3rd Year,2027,...,Low,Yes,LeetCode;HackerRank;CodeChef;GeeksforGeeks,Yes,Data Analytics,1 month,No,5,7,6.0
4,2025-12-18 07:34:20,madhuriborra06@gmail.com,B.madhuri prasanna sri,20.0,Female,Narasaraopet,Narasaraopeta engineering college,CSE,3rd Year,2027,...,Medium,No,LeetCode;HackerRank,No,Data Analytics,6,No,3,5,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,2025-12-18 17:19:30,madhavasomarajupalli@gmail.com,S.madhava krishna,20.0,Male,Narasaraopet,Narasaraopet engineering college,ECE,2nd Year,2028,...,Medium,No,HackerRank,No,Data Analytics,6,No,3,5,4.0
123,2025-12-18 17:38:03,saiharshithaganjanaboina@gmail.com,G. Sai harshitha,19.0,Female,Sattenapalli,Nec,Cyber Security,2nd Year,-,...,Medium,No,HackerRank,No,Cyber Security,-,No,3,5,4.0
124,2025-12-18 19:05:17,anushagottam1@gmail.com,Gottam Anusha,18.0,Female,Sattenapalli,NARASARAOPET ENGINEERING COLLEGE,AI & ML,2nd Year,2028,...,Medium,No,LeetCode;HackerRank,No,AI / ML,6 months,No,7,9,8.0
125,2025-12-18 19:23:36,jagadeeshbaddula10@gmail.com,Jagadeesh baddula,22.0,Male,Chilakaluripet,Sri Mittapalli college of engineering,AI,3rd Year,2027,...,Medium,No,LeetCode;HackerRank,No,AI / ML,No,No,7,9,8.0
126,2025-12-18 19:40:45,amruthadoddaka@gmail.com,Amrutha Doddaka,19.0,Female,Ramakuru,Narasaraopet Engeneering college,AI & ML,2nd Year,2028,...,High,Yes,HackerRank,No,Web Development,.,No,3,5,4.0

### **sorting**

In [24]:
df.sort_values(by='Current CGPA', ascending=False)

,Timestamp,Username,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,...,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?,LPA_Min,LPA_Max,Expected_LPA_Avg
5,2025-12-18 07:35:35,vanikatam95@gmail.com,KATAM VANI,18.0,Female,Chilakaluripet,NEC,AI & ML,2nd Year,2028,...,Medium,No,HackerRank;GeeksforGeeks,No,AI / ML,3,No,9,14,11.5
34,2025-12-18 09:31:20,kujithagottipati@gmail.com,Gottipati kujitha,18.0,Female,Ongole,Narasaraopet engineering college,Cyber Security,2nd Year,2028,...,Medium,No,HackerRank;GeeksforGeeks,No,Cyber Security,3 weeks,No,7,9,8.0
31,2025-12-18 09:30:56,challalakshmitirupathamma84@gmail.com,Challa lakshmi tirupathamma,18.0,Female,Sattenapalli,NEC,Cyber Security,2nd Year,2028,...,Medium,Yes,None;,Yes,Data Analytics,3 weeks,Yes,9,14,11.5
33,2025-12-18 09:31:17,akulav389@gmail.com,A.Venkatesh,18.0,Male,Sattenapalle,Narasaraopeta Engineering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank;GeeksforGeeks,Yes,Data Analytics,6,Yes,5,7,6.0
32,2025-12-18 09:31:06,venkatagowthamtadiboina@gmail.com,T Venkata Gowtham,19.0,Male,REPALLE,Narasaraopeta engineering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,Yes,Data Analytics,6 months,Yes,3,5,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,2025-12-18 09:23:52,nvenkateshreddy07@gmail.com,N.venkatesh reddy,19.0,Male,Nandyal,Narasaraopeta engineering college,Data Science,2nd Year,2028,...,Low,No,HackerRank,No,Data Analytics,3,No,5,7,6.0
96,2025-12-18 09:51:52,pravallikagundala45@gmail.com,Gundala pravallika,19.0,Female,Narasaraopet,Nec,Cyber Security,2nd Year,2028,...,Medium,No,LeetCode;HackerRank,No,Cyber Security,30000,No,9,14,11.5
117,2025-12-18 15:22:26,tharunkoruprolu16@gmail.com,Tharun Koruprolu,18.0,Male,Annavaram,Narasaraopet Engineering College,Other,2nd Year,2028,...,Medium,No,HackerRank;GeeksforGeeks,No,Data Analytics,0,No,9,14,11.5
115,2025-12-18 13:56:34,Venu94594@gmail.com,Venu,20.0,Male,Narasaraopeta,Narasaraopet engineering college,Data Science,2nd Year,2028,...,Medium,No,LeetCode,No,Data Analytics,0,No,5,7,6.0
116,2025-12-18 14:00:16,skmdkamil6@gmail.com,Shaik mohammad kamel,19.0,Male,Guntur,Nasaraopeta engineering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,Yes,Data Analytics,0,No,9,14,11.5

### **filltering**

In [25]:
df[
    (df['Current CGPA'] > 8) &
    (df['Have you completed any internship?'] == 'Yes')
]

,Timestamp,Username,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,...,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?,LPA_Min,LPA_Max,Expected_LPA_Avg
3,2025-12-18 05:20:40,swethaeedumalli@gmail.com,Eedumalli Swetha,19.0,Female,Narasaraopeta,NEC,Data Science,3rd Year,2027,...,Low,Yes,LeetCode;HackerRank;CodeChef;GeeksforGeeks,Yes,Data Analytics,1 month,No,5,7,6.0
9,2025-12-18 08:24:28,gowrimahanthi214@gmail.com,Mallavarapu Gowri Mahanthi,20.0,Female,Narasaraopeta,Narasaraopeta engineering clg,AI & ML,3rd Year,2027,...,Medium,Yes,LeetCode;HackerRank;GeeksforGeeks,Yes,Web Development,2 months,No,7,9,8.0
13,2025-12-18 09:11:06,ssrinadh70@gmail.com,SRI RAMASETTI SRINATH,21.0,Male,Guntur,NARASARAOPETA ENGINEERING COLLEGE,AI & ML,3rd Year,2027,...,Medium,Yes,HackerRank,Yes,Data Analytics,1month,No,3,5,4.0
29,2025-12-18 09:30:24,sreeramanjaneyulu312@gmail.com,Sriram Lakshmi Anusha,19.0,Female,Narasaraopet,Narasaraopeta engineering college,AI & ML,2nd Year,2028,...,Low,No,HackerRank,Yes,Python,6 months,No,7,9,8.0
31,2025-12-18 09:30:56,challalakshmitirupathamma84@gmail.com,Challa lakshmi tirupathamma,18.0,Female,Sattenapalli,NEC,Cyber Security,2nd Year,2028,...,Medium,Yes,None;,Yes,Data Analytics,3 weeks,Yes,9,14,11.5
32,2025-12-18 09:31:06,venkatagowthamtadiboina@gmail.com,T Venkata Gowtham,19.0,Male,REPALLE,Narasaraopeta engineering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,Yes,Data Analytics,6 months,Yes,3,5,4.0
33,2025-12-18 09:31:17,akulav389@gmail.com,A.Venkatesh,18.0,Male,Sattenapalle,Narasaraopeta Engineering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank;GeeksforGeeks,Yes,Data Analytics,6,Yes,5,7,6.0
61,2025-12-18 09:37:29,kunchanapalliyuvarani@gmail.com,Yuva Rani Kunchanapalli,19.0,Female,Pedakurapadu,Narasaraopeta Engineering College,Data Science,3rd Year,2027,...,Medium,No,LeetCode;HackerRank;CodeChef;GeeksforGeeks,Yes,Data Analytics,3 months,No,9,14,11.5
75,2025-12-18 09:40:11,sidduduppada@gmail.com,Siddardha,18.0,Male,Narsraopeta,Narsraopeta engineering college,Data Science,2nd Year,2028,...,Medium,No,HackerRank,Yes,Data Analytics,6,No,3,5,4.0
82,2025-12-18 09:43:11,geetha152006@gmail.com,Butti Navya Geetha,19.0,Female,Macherla,Narasaraopeta engineering colleage,Data Science,3rd Year,2027,...,Medium,No,GeeksforGeeks,Yes,Web Development,6 month,No,7,9,8.0
91,2025-12-18 09:46:56,balubathini960@gmail.com,B.Balasubramanyam,19.0,Male,Cumbum,Narasaraopeta Engineering College,Other,2nd Year,2028,...,Low,Yes,HackerRank;GeeksforGeeks,Yes,Web Development,4 Months,Yes,5,7,6.0

### **group by example**

In [26]:
df.groupby('Branch')['Current CGPA'].mean()

Branch
AI                6.500000
AI & ML           7.892750
CSE               8.080000
Cyber Security    7.124667
Data Science      6.684207
ECE               6.694444
Other             6.119091
Name: Current CGPA, dtype: float64

In [27]:
df.groupby('Preferred Job Role')['Current CGPA'].mean()

Preferred Job Role
AI engineer                 7.000000
Cyber Security Analyst      6.683846
Cybersecurity pentester     8.000000
Data Analyst                6.920256
Data Scientist              5.887273
ML Engineer                 7.636364
No plane                    8.300000
Penetrating tester          7.000000
Professor                   7.500000
Software Developer          8.049259
decoding                    8.230000
Name: Current CGPA, dtype: float64

### **set index**

In [28]:
df.set_index('Username', inplace=True)
df

,Timestamp,Name,Age,Gender,City,College Name,Branch,Current Year of Study,Passed Out Year,SSC CGPA,...,Aptitude Skill Level,Do you have leadership experience?,Coding Platforms Used,Have you completed any internship?,Internship Domain,Internship Duration (in months),Did you receive a stipend?,LPA_Min,LPA_Max,Expected_LPA_Avg
Username,,,,,,,,,,,,,,,,,,,,,
easwarsai745@gmail.com,2025-12-17 22:33:25,Y Easwar Sai Yaswanth,20.0,Male,Vinukonda,Narasaraopet Engeneering college,Data Science,2nd Year,2028,7.5000,...,Medium,No,HackerRank,No,NaN,NaN,No,5,7,6.0
ashokgudimetla@365gmail.com,2025-12-17 22:42:18,Gudimetla Ashok,19.0,Male,Ongole,Narasaropeta Engineering college,Data Science,2nd Year,2028,0.6983,...,Medium,No,HackerRank,No,Data Analytics,3 months,Yes,3,5,4.0
skabdulfamim2345@gmail.com,2025-12-17 22:43:09,SHAIK ABDUL FAMIM,20.0,Male,CHILAKALURIPET,Narasaraopeta Engineering College,AI & ML,2nd Year,2028,10.0000,...,Low,No,HackerRank,No,Data Analytics,3 months,No,5,7,6.0
swethaeedumalli@gmail.com,2025-12-18 05:20:40,Eedumalli Swetha,19.0,Female,Narasaraopeta,NEC,Data Science,3rd Year,2027,8.5000,...,Low,Yes,LeetCode;HackerRank;CodeChef;GeeksforGeeks,Yes,Data Analytics,1 month,No,5,7,6.0
madhuriborra06@gmail.com,2025-12-18 07:34:20,B.madhuri prasanna sri,20.0,Female,Narasaraopet,Narasaraopeta engineering college,CSE,3rd Year,2027,8.0000,...,Medium,No,LeetCode;HackerRank,No,Data Analytics,6,No,3,5,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
madhavasomarajupalli@gmail.com,2025-12-18 17:19:30,S.madhava krishna,20.0,Male,Narasaraopet,Narasaraopet engineering college,ECE,2nd Year,2028,8.0000,...,Medium,No,HackerRank,No,Data Analytics,6,No,3,5,4.0
saiharshithaganjanaboina@gmail.com,2025-12-18 17:38:03,G. Sai harshitha,19.0,Female,Sattenapalli,Nec,Cyber Security,2nd Year,-,8.0000,...,Medium,No,HackerRank,No,Cyber Security,-,No,3,5,4.0
anushagottam1@gmail.com,2025-12-18 19:05:17,Gottam Anusha,18.0,Female,Sattenapalli,NARASARAOPET ENGINEERING COLLEGE,AI & ML,2nd Year,2028,8.0000,...,Medium,No,LeetCode;HackerRank,No,AI / ML,6 months,No,7,9,8.0
jagadeeshbaddula10@gmail.com,2025-12-18 19:23:36,Jagadeesh baddula,22.0,Male,Chilakaluripet,Sri Mittapalli college of engineering,AI,3rd Year,2027,5.8700,...,Medium,No,LeetCode;HackerRank,No,AI / ML,No,No,7,9,8.0
amruthadoddaka@gmail.com,2025-12-18 19:40:45,Amrutha Doddaka,19.0,Female,Ramakuru,Narasaraopet Engeneering college,AI & ML,2nd Year,2028,8.2000,...,High,Yes,HackerRank,No,Web Development,.,No,3,5,4.0

### **loc and iloc**

In [29]:
df.iloc[0]

Timestamp                                                            2025-12-17 22:33:25
Name                                                              Y Easwar Sai Yaswanth
Age                                                                                 20.0
Gender                                                                              Male
City                                                                          Vinukonda
College Name                                           Narasaraopet Engeneering college
Branch                                                                      Data Science
Current Year of Study                                                           2nd Year
Passed Out Year                                                                     2028
SSC CGPA                                                                             7.5
Intermediate / Diploma CGPA                                                         7.35
Current CGPA                                                                        7.79
Number of Backlogs (if any)                                                 No Backlogs
Interested Domain                                                          Data Analysis
Python Skill Level                                                              Beginner
SQL Skill Level                                                                 Beginner
Programming Languages Known                                                Python;Java;C
Tools Known                                                                        Excel
Do you take online courses (Coursera, Udemy, etc.)?                                  Yes
Number of Projects Done                                                             Zero
Certificates Count                                                                  Zero
Personal Portfolio Website                                                           ---
Learning Mode Preference                                                         Offline
Self Learning Hours per Week                                                  3-4 hours
Average Daily Study Hours                                                            NaN
Average Daily Screen Time                                                            NaN
Next Interested Workshop                                                 Advanced Python
Do you have a mentor for technical/career guidance?                                   No
Expected Placement Package (LPA)                                                   5 - 7
Preferred Job Role                                                    Software Developer
Are you planning for higher studies?                                                  No
Rate your communication skills                                                         2
Aptitude Skill Level                                                              Medium
Do you have leadership experience?                                                    No
Coding Platforms Used                                                         HackerRank
Have you completed any internship?                                                    No
Internship Domain                                                                    NaN
Internship Duration (in months)                                                      NaN
Did you receive a stipend?                                                            No
LPA_Min                                                                                5
LPA_Max                                                                                7
Expected_LPA_Avg                                                                     6.0
Name: easwarsai745@gmail.com, dtype: object

In [30]:
df.iloc[0]['Current CGPA']

np.float64(7.79)

In [31]:
df.iloc[0]['City']

'Vinukonda '