<a href="https://colab.research.google.com/github/Ladvika/Data-analytics/blob/main/TASK1_Bytexl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STUDENT DATA

**STEP 1.Load the Dataset**

In [27]:
import pandas as pd
import numpy as np

In [28]:
# insert the csv student file
df = pd.read_csv('/content/students_data.csv')

In [29]:
#few rows seleted
df.head()

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD

In [30]:
#understand the struture of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     31 non-null     int64
 1   name           31 non-null     object
 2   age            28 non-null     float64
 3   gender         31 non-null     object
 4   grade          31 non-null     object
 5   math_score     13 non-null     float64
 6   english_score  23 non-null     object
 7   science_score  31 non-null     int64
 8   enrolled_date  31 non-null     object
 9   remarks        31 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.6+ KB

**STEP 2.	Explore the Data**

In [31]:
#shape
df.shape

(31, 10)

In [32]:
if 'name' in df.columns:
    #split name into frist and last name
    df['frist_name'] = df['name'].astype(str).str.split().str[0]
    df['last_name'] = df['name'].astype(str).str.split().str[1]
    #drop the name colums
    df.drop(columns=['name'], inplace=True)

In [33]:
df

,student_id,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks,frist_name,last_name
0,100,16.0,female,11,75.0,NaN,66,2022-06-10,excellent,jane,smith
1,101,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD,John,Doe
2,102,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement,Chris,P.
3,103,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average,jane,smith
4,104,16.0,male,11,NaN,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,17.0,female,11,64.0,NaN,75,06/12/2022,Good,ali,Khan
7,107,17.0,female,12,NaN,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,16.0,Female,12,80.0,missing,89,06/12/2022,poor,Mike,O’Reilly
9,109,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement,Robert,Brown
10,110,17.0,male,11th,65.0,67,100,06/12/2022,excellent,lucy,gray
11,111,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average,Simran,Singh
12,112,17.0,female,11,NaN,87,89,2022-06-10,poor,Patel,R.
13,113,17.0,male,10,NaN,NaN,98,06/12/2022,Average,Patel,R.
14,114,17.0,male,12,NaN,91,67,2022/06/11,poor,Ali,Khan
15,115,16.0,Female,12,65.0,91,94,06/12/2022,Average,Lucy,gray
16,116,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent,Chris,P.
17,117,18.0,male,11th,67.0,74,81,2022-06-10,GOOD,Ali,Khan
18,118,17.0,Male,10,100.0,74,62,2022/06/11,average,Simran,Singh
19,119,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good,Patel,R.
20,120,17.0,Male,10,NaN,missing,89,2022-06-10,average,Sara,O'Neil
21,121,18.0,female,11,66.0,72,94,10-06-2022,Average,John,Doe
22,122,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student,Sara,O'Neil
23,123,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent,jane,smith
24,124,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD,John,Doe
25,125,17.0,Male,12,94.0,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,NaN,Male,10th,64.0,missing,67,06/12/2022,good student,John,Doe
27,127,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor,Simran,Singh
28,128,17.0,female,11,NaN,64,89,2022-06-10,average,Sara,O'Neil
29,129,17.0,male,11,NaN,64,83,2022/06/11,Average,Patel,R.
30,129,17.0,male,11,NaN,64,83,2022/06/11,Average,Patel,R.

In [34]:
df = df.rename(columns={'student_id':'ID','frist_name':'Frist_Name','last_name':'Last_Name','age':'Age','gender':'Gender','grade':'Class','math_score':'Math_Score','english_score':'English_Score','science_score':'Science_Score','enrolled_date':'Enrolled_Date','remarks':'Grade'})
df

,ID,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade,Frist_Name,Last_Name
0,100,16.0,female,11,75.0,NaN,66,2022-06-10,excellent,jane,smith
1,101,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD,John,Doe
2,102,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement,Chris,P.
3,103,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average,jane,smith
4,104,16.0,male,11,NaN,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,17.0,female,11,64.0,NaN,75,06/12/2022,Good,ali,Khan
7,107,17.0,female,12,NaN,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,16.0,Female,12,80.0,missing,89,06/12/2022,poor,Mike,O’Reilly
9,109,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement,Robert,Brown
10,110,17.0,male,11th,65.0,67,100,06/12/2022,excellent,lucy,gray
11,111,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average,Simran,Singh
12,112,17.0,female,11,NaN,87,89,2022-06-10,poor,Patel,R.
13,113,17.0,male,10,NaN,NaN,98,06/12/2022,Average,Patel,R.
14,114,17.0,male,12,NaN,91,67,2022/06/11,poor,Ali,Khan
15,115,16.0,Female,12,65.0,91,94,06/12/2022,Average,Lucy,gray
16,116,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent,Chris,P.
17,117,18.0,male,11th,67.0,74,81,2022-06-10,GOOD,Ali,Khan
18,118,17.0,Male,10,100.0,74,62,2022/06/11,average,Simran,Singh
19,119,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good,Patel,R.
20,120,17.0,Male,10,NaN,missing,89,2022-06-10,average,Sara,O'Neil
21,121,18.0,female,11,66.0,72,94,10-06-2022,Average,John,Doe
22,122,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student,Sara,O'Neil
23,123,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent,jane,smith
24,124,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD,John,Doe
25,125,17.0,Male,12,94.0,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,NaN,Male,10th,64.0,missing,67,06/12/2022,good student,John,Doe
27,127,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor,Simran,Singh
28,128,17.0,female,11,NaN,64,89,2022-06-10,average,Sara,O'Neil
29,129,17.0,male,11,NaN,64,83,2022/06/11,Average,Patel,R.
30,129,17.0,male,11,NaN,64,83,2022/06/11,Average,Patel,R.

In [11]:
#fill the nan with age values
mean_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(mean_age).astype(int)
df

,ID,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade,Frist_Name,Last_Name
0,100,16,female,11,75.0,NaN,66,2022-06-10,excellent,jane,smith
1,101,16,Male,10th,74.0,95,94,10-06-2022,GOOD,John,Doe
2,102,16,MALE,10,NaN,missing,69,06/12/2022,needs improvement,Chris,P.
3,103,16,FEMALE,10,NaN,missing,62,10-06-2022,average,jane,smith
4,104,16,male,11,NaN,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,16,Female,10,NaN,NaN,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,17,female,11,64.0,NaN,75,06/12/2022,Good,ali,Khan
7,107,17,female,12,NaN,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,16,Female,12,80.0,missing,89,06/12/2022,poor,Mike,O’Reilly
9,109,17,female,12,NaN,missing,97,10-06-2022,needs improvement,Robert,Brown
10,110,17,male,11th,65.0,67,100,06/12/2022,excellent,lucy,gray
11,111,16,FEMALE,11th,NaN,missing,95,2022-06-10,average,Simran,Singh
12,112,17,female,11,NaN,87,89,2022-06-10,poor,Patel,R.
13,113,17,male,10,NaN,NaN,98,06/12/2022,Average,Patel,R.
14,114,17,male,12,NaN,91,67,2022/06/11,poor,Ali,Khan
15,115,16,Female,12,65.0,91,94,06/12/2022,Average,Lucy,gray
16,116,16,Female,11,NaN,NaN,72,2022/06/11,excellent,Chris,P.
17,117,18,male,11th,67.0,74,81,2022-06-10,GOOD,Ali,Khan
18,118,17,Male,10,100.0,74,62,2022/06/11,average,Simran,Singh
19,119,17,MALE,11th,73.0,NaN,90,06/12/2022,Good,Patel,R.
20,120,17,Male,10,NaN,missing,89,2022-06-10,average,Sara,O'Neil
21,121,18,female,11,66.0,72,94,10-06-2022,Average,John,Doe
22,122,17,MALE,11th,75.0,NaN,66,2022-06-10,good student,Sara,O'Neil
23,123,17,Female,11th,NaN,missing,63,06/12/2022,excellent,jane,smith
24,124,18,MALE,11th,NaN,NaN,91,06/12/2022,GOOD,John,Doe
25,125,17,Male,12,94.0,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,16,Male,10th,64.0,missing,67,06/12/2022,good student,John,Doe
27,127,16,FEMALE,12,NaN,76,80,06/12/2022,poor,Simran,Singh
28,128,17,female,11,NaN,64,89,2022-06-10,average,Sara,O'Neil
29,129,17,male,11,NaN,64,83,2022/06/11,Average,Patel,R.
30,129,17,male,11,NaN,64,83,2022/06/11,Average,Patel,R.

In [12]:
# Summary statistics
df.describe(include='all')

,ID,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade,Frist_Name,Last_Name
count,31.000000,31.000000,31,31,13.000000,23,31.000000,31,31,31,31
unique,NaN,NaN,6,5,NaN,12,NaN,4,8,12,10
top,NaN,NaN,female,11,NaN,missing,NaN,06/12/2022,Average,Sara,R.
freq,NaN,NaN,7,9,NaN,8,NaN,12,6,5,5
mean,114.967742,16.709677,NaN,NaN,74.000000,NaN,79.903226,NaN,NaN,NaN,NaN
std,9.038746,0.642575,NaN,NaN,11.510864,NaN,13.095431,NaN,NaN,NaN,NaN
min,100.000000,16.000000,NaN,NaN,64.000000,NaN,62.000000,NaN,NaN,NaN,NaN
25%,107.500000,16.000000,NaN,NaN,65.000000,NaN,66.500000,NaN,NaN,NaN,NaN
50%,115.000000,17.000000,NaN,NaN,73.000000,NaN,83.000000,NaN,NaN,NaN,NaN
75%,122.500000,17.000000,NaN,NaN,75.000000,NaN,90.500000,NaN,NaN,NaN,NaN
max,129.000000,18.000000,NaN,NaN,100.000000,NaN,100.000000,NaN,NaN,NaN,NaN

In [35]:
df['Gender'] = df['Gender'].astype(str).str.strip().str.lower()

df['Gender'] = df['Gender'].replace({
    'female': 'F',
    'f': 'F',
    'male': 'M',
    'm': 'M'
})

In [14]:
df

,ID,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade,Frist_Name,Last_Name
0,100,16,F,11,75.0,NaN,66,2022-06-10,excellent,jane,smith
1,101,16,M,10th,74.0,95,94,10-06-2022,GOOD,John,Doe
2,102,16,M,10,NaN,missing,69,06/12/2022,needs improvement,Chris,P.
3,103,16,F,10,NaN,missing,62,10-06-2022,average,jane,smith
4,104,16,M,11,NaN,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,16,F,10,NaN,NaN,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,17,F,11,64.0,NaN,75,06/12/2022,Good,ali,Khan
7,107,17,F,12,NaN,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,16,F,12,80.0,missing,89,06/12/2022,poor,Mike,O’Reilly
9,109,17,F,12,NaN,missing,97,10-06-2022,needs improvement,Robert,Brown
10,110,17,M,11th,65.0,67,100,06/12/2022,excellent,lucy,gray
11,111,16,F,11th,NaN,missing,95,2022-06-10,average,Simran,Singh
12,112,17,F,11,NaN,87,89,2022-06-10,poor,Patel,R.
13,113,17,M,10,NaN,NaN,98,06/12/2022,Average,Patel,R.
14,114,17,M,12,NaN,91,67,2022/06/11,poor,Ali,Khan
15,115,16,F,12,65.0,91,94,06/12/2022,Average,Lucy,gray
16,116,16,F,11,NaN,NaN,72,2022/06/11,excellent,Chris,P.
17,117,18,M,11th,67.0,74,81,2022-06-10,GOOD,Ali,Khan
18,118,17,M,10,100.0,74,62,2022/06/11,average,Simran,Singh
19,119,17,M,11th,73.0,NaN,90,06/12/2022,Good,Patel,R.
20,120,17,M,10,NaN,missing,89,2022-06-10,average,Sara,O'Neil
21,121,18,F,11,66.0,72,94,10-06-2022,Average,John,Doe
22,122,17,M,11th,75.0,NaN,66,2022-06-10,good student,Sara,O'Neil
23,123,17,F,11th,NaN,missing,63,06/12/2022,excellent,jane,smith
24,124,18,M,11th,NaN,NaN,91,06/12/2022,GOOD,John,Doe
25,125,17,M,12,94.0,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,16,M,10th,64.0,missing,67,06/12/2022,good student,John,Doe
27,127,16,F,12,NaN,76,80,06/12/2022,poor,Simran,Singh
28,128,17,F,11,NaN,64,89,2022-06-10,average,Sara,O'Neil
29,129,17,M,11,NaN,64,83,2022/06/11,Average,Patel,R.
30,129,17,M,11,NaN,64,83,2022/06/11,Average,Patel,R.

In [15]:
df['Class'] = df['Class'].astype(str).str.strip().str.lower()

df['Class'] = df['Class'].replace({
    '10': 'X',
    '10th': 'X',
    '11': 'XI',
    '11th': 'XI',
    '12': 'XII',
    '12th': 'XII'
})

In [16]:
df

,ID,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade,Frist_Name,Last_Name
0,100,16,F,XI,75.0,NaN,66,2022-06-10,excellent,jane,smith
1,101,16,M,X,74.0,95,94,10-06-2022,GOOD,John,Doe
2,102,16,M,X,NaN,missing,69,06/12/2022,needs improvement,Chris,P.
3,103,16,F,X,NaN,missing,62,10-06-2022,average,jane,smith
4,104,16,M,XI,NaN,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,16,F,X,NaN,NaN,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,17,F,XI,64.0,NaN,75,06/12/2022,Good,ali,Khan
7,107,17,F,XII,NaN,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,16,F,XII,80.0,missing,89,06/12/2022,poor,Mike,O’Reilly
9,109,17,F,XII,NaN,missing,97,10-06-2022,needs improvement,Robert,Brown
10,110,17,M,XI,65.0,67,100,06/12/2022,excellent,lucy,gray
11,111,16,F,XI,NaN,missing,95,2022-06-10,average,Simran,Singh
12,112,17,F,XI,NaN,87,89,2022-06-10,poor,Patel,R.
13,113,17,M,X,NaN,NaN,98,06/12/2022,Average,Patel,R.
14,114,17,M,XII,NaN,91,67,2022/06/11,poor,Ali,Khan
15,115,16,F,XII,65.0,91,94,06/12/2022,Average,Lucy,gray
16,116,16,F,XI,NaN,NaN,72,2022/06/11,excellent,Chris,P.
17,117,18,M,XI,67.0,74,81,2022-06-10,GOOD,Ali,Khan
18,118,17,M,X,100.0,74,62,2022/06/11,average,Simran,Singh
19,119,17,M,XI,73.0,NaN,90,06/12/2022,Good,Patel,R.
20,120,17,M,X,NaN,missing,89,2022-06-10,average,Sara,O'Neil
21,121,18,F,XI,66.0,72,94,10-06-2022,Average,John,Doe
22,122,17,M,XI,75.0,NaN,66,2022-06-10,good student,Sara,O'Neil
23,123,17,F,XI,NaN,missing,63,06/12/2022,excellent,jane,smith
24,124,18,M,XI,NaN,NaN,91,06/12/2022,GOOD,John,Doe
25,125,17,M,XII,94.0,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,16,M,X,64.0,missing,67,06/12/2022,good student,John,Doe
27,127,16,F,XII,NaN,76,80,06/12/2022,poor,Simran,Singh
28,128,17,F,XI,NaN,64,89,2022-06-10,average,Sara,O'Neil
29,129,17,M,XI,NaN,64,83,2022/06/11,Average,Patel,R.
30,129,17,M,XI,NaN,64,83,2022/06/11,Average,Patel,R.

In [17]:
df['Math_Score'] = df['Math_Score'].fillna(df['Math_Score'].mean())
df['Math_Score'] = df['Math_Score'].astype(int)

In [18]:
df

,ID,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade,Frist_Name,Last_Name
0,100,16,F,XI,75,NaN,66,2022-06-10,excellent,jane,smith
1,101,16,M,X,74,95,94,10-06-2022,GOOD,John,Doe
2,102,16,M,X,74,missing,69,06/12/2022,needs improvement,Chris,P.
3,103,16,F,X,74,missing,62,10-06-2022,average,jane,smith
4,104,16,M,XI,74,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,16,F,X,74,NaN,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,17,F,XI,64,NaN,75,06/12/2022,Good,ali,Khan
7,107,17,F,XII,74,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,16,F,XII,80,missing,89,06/12/2022,poor,Mike,O’Reilly
9,109,17,F,XII,74,missing,97,10-06-2022,needs improvement,Robert,Brown
10,110,17,M,XI,65,67,100,06/12/2022,excellent,lucy,gray
11,111,16,F,XI,74,missing,95,2022-06-10,average,Simran,Singh
12,112,17,F,XI,74,87,89,2022-06-10,poor,Patel,R.
13,113,17,M,X,74,NaN,98,06/12/2022,Average,Patel,R.
14,114,17,M,XII,74,91,67,2022/06/11,poor,Ali,Khan
15,115,16,F,XII,65,91,94,06/12/2022,Average,Lucy,gray
16,116,16,F,XI,74,NaN,72,2022/06/11,excellent,Chris,P.
17,117,18,M,XI,67,74,81,2022-06-10,GOOD,Ali,Khan
18,118,17,M,X,100,74,62,2022/06/11,average,Simran,Singh
19,119,17,M,XI,73,NaN,90,06/12/2022,Good,Patel,R.
20,120,17,M,X,74,missing,89,2022-06-10,average,Sara,O'Neil
21,121,18,F,XI,66,72,94,10-06-2022,Average,John,Doe
22,122,17,M,XI,75,NaN,66,2022-06-10,good student,Sara,O'Neil
23,123,17,F,XI,74,missing,63,06/12/2022,excellent,jane,smith
24,124,18,M,XI,74,NaN,91,06/12/2022,GOOD,John,Doe
25,125,17,M,XII,94,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,16,M,X,64,missing,67,06/12/2022,good student,John,Doe
27,127,16,F,XII,74,76,80,06/12/2022,poor,Simran,Singh
28,128,17,F,XI,74,64,89,2022-06-10,average,Sara,O'Neil
29,129,17,M,XI,74,64,83,2022/06/11,Average,Patel,R.
30,129,17,M,XI,74,64,83,2022/06/11,Average,Patel,R.

In [19]:
# Replace 'missing' with NaN
df['English_Score'] = df['English_Score'].replace('missing', np.nan)

# Convert to numeric
df['English_Score'] = pd.to_numeric(df['English_Score'], errors='coerce')

# Fill missing values with mean
df['English_Score'] = df['English_Score'].fillna(df['English_Score'].mean())

# Convert to integer
df['English_Score'] = df['English_Score'].astype(int)

In [20]:
df

,ID,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade,Frist_Name,Last_Name
0,100,16,F,XI,75,77,66,2022-06-10,excellent,jane,smith
1,101,16,M,X,74,95,94,10-06-2022,GOOD,John,Doe
2,102,16,M,X,74,77,69,06/12/2022,needs improvement,Chris,P.
3,103,16,F,X,74,77,62,10-06-2022,average,jane,smith
4,104,16,M,XI,74,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,16,F,X,74,77,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,17,F,XI,64,77,75,06/12/2022,Good,ali,Khan
7,107,17,F,XII,74,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,16,F,XII,80,77,89,06/12/2022,poor,Mike,O’Reilly
9,109,17,F,XII,74,77,97,10-06-2022,needs improvement,Robert,Brown
10,110,17,M,XI,65,67,100,06/12/2022,excellent,lucy,gray
11,111,16,F,XI,74,77,95,2022-06-10,average,Simran,Singh
12,112,17,F,XI,74,87,89,2022-06-10,poor,Patel,R.
13,113,17,M,X,74,77,98,06/12/2022,Average,Patel,R.
14,114,17,M,XII,74,91,67,2022/06/11,poor,Ali,Khan
15,115,16,F,XII,65,91,94,06/12/2022,Average,Lucy,gray
16,116,16,F,XI,74,77,72,2022/06/11,excellent,Chris,P.
17,117,18,M,XI,67,74,81,2022-06-10,GOOD,Ali,Khan
18,118,17,M,X,100,74,62,2022/06/11,average,Simran,Singh
19,119,17,M,XI,73,77,90,06/12/2022,Good,Patel,R.
20,120,17,M,X,74,77,89,2022-06-10,average,Sara,O'Neil
21,121,18,F,XI,66,72,94,10-06-2022,Average,John,Doe
22,122,17,M,XI,75,77,66,2022-06-10,good student,Sara,O'Neil
23,123,17,F,XI,74,77,63,06/12/2022,excellent,jane,smith
24,124,18,M,XI,74,77,91,06/12/2022,GOOD,John,Doe
25,125,17,M,XII,94,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,16,M,X,64,77,67,06/12/2022,good student,John,Doe
27,127,16,F,XII,74,76,80,06/12/2022,poor,Simran,Singh
28,128,17,F,XI,74,64,89,2022-06-10,average,Sara,O'Neil
29,129,17,M,XI,74,64,83,2022/06/11,Average,Patel,R.
30,129,17,M,XI,74,64,83,2022/06/11,Average,Patel,R.

In [21]:
df['Enrolled_Date'] = pd.to_datetime(
    df['Enrolled_Date'],
    errors='coerce',
    dayfirst=True,
    format='mixed'
)

df['Enrolled_Date'] = df['Enrolled_Date'].dt.strftime('%d-%m-%Y')

In [22]:
df

,ID,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade,Frist_Name,Last_Name
0,100,16,F,XI,75,77,66,10-06-2022,excellent,jane,smith
1,101,16,M,X,74,95,94,10-06-2022,GOOD,John,Doe
2,102,16,M,X,74,77,69,06-12-2022,needs improvement,Chris,P.
3,103,16,F,X,74,77,62,10-06-2022,average,jane,smith
4,104,16,M,XI,74,96,64,10-06-2022,GOOD,Sara,O'Neil
5,105,16,F,X,74,77,83,06-12-2022,needs improvement,Mike,O’Reilly
6,106,17,F,XI,64,77,75,06-12-2022,Good,ali,Khan
7,107,17,F,XII,74,63,62,11-06-2022,excellent,Sara,O'Neil
8,108,16,F,XII,80,77,89,06-12-2022,poor,Mike,O’Reilly
9,109,17,F,XII,74,77,97,10-06-2022,needs improvement,Robert,Brown
10,110,17,M,XI,65,67,100,06-12-2022,excellent,lucy,gray
11,111,16,F,XI,74,77,95,10-06-2022,average,Simran,Singh
12,112,17,F,XI,74,87,89,10-06-2022,poor,Patel,R.
13,113,17,M,X,74,77,98,06-12-2022,Average,Patel,R.
14,114,17,M,XII,74,91,67,11-06-2022,poor,Ali,Khan
15,115,16,F,XII,65,91,94,06-12-2022,Average,Lucy,gray
16,116,16,F,XI,74,77,72,11-06-2022,excellent,Chris,P.
17,117,18,M,XI,67,74,81,10-06-2022,GOOD,Ali,Khan
18,118,17,M,X,100,74,62,11-06-2022,average,Simran,Singh
19,119,17,M,XI,73,77,90,06-12-2022,Good,Patel,R.
20,120,17,M,X,74,77,89,10-06-2022,average,Sara,O'Neil
21,121,18,F,XI,66,72,94,10-06-2022,Average,John,Doe
22,122,17,M,XI,75,77,66,10-06-2022,good student,Sara,O'Neil
23,123,17,F,XI,74,77,63,06-12-2022,excellent,jane,smith
24,124,18,M,XI,74,77,91,06-12-2022,GOOD,John,Doe
25,125,17,M,XII,94,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,16,M,X,64,77,67,06-12-2022,good student,John,Doe
27,127,16,F,XII,74,76,80,06-12-2022,poor,Simran,Singh
28,128,17,F,XI,74,64,89,10-06-2022,average,Sara,O'Neil
29,129,17,M,XI,74,64,83,11-06-2022,Average,Patel,R.
30,129,17,M,XI,74,64,83,11-06-2022,Average,Patel,R.

In [23]:
# Clean Grade column
df['Grade'] = df['Grade'].astype(str).str.strip().str.lower()

# Standardize Grade values
df['Grade'] = df['Grade'].replace({
    'excellent': 'O',
    'good': 'A',
    'good student': 'A',
    'average': 'B',
    'needs improvement':'C',

    'poor': 'D'
})

In [24]:
df

,ID,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade,Frist_Name,Last_Name
0,100,16,F,XI,75,77,66,10-06-2022,O,jane,smith
1,101,16,M,X,74,95,94,10-06-2022,A,John,Doe
2,102,16,M,X,74,77,69,06-12-2022,C,Chris,P.
3,103,16,F,X,74,77,62,10-06-2022,B,jane,smith
4,104,16,M,XI,74,96,64,10-06-2022,A,Sara,O'Neil
5,105,16,F,X,74,77,83,06-12-2022,C,Mike,O’Reilly
6,106,17,F,XI,64,77,75,06-12-2022,A,ali,Khan
7,107,17,F,XII,74,63,62,11-06-2022,O,Sara,O'Neil
8,108,16,F,XII,80,77,89,06-12-2022,D,Mike,O’Reilly
9,109,17,F,XII,74,77,97,10-06-2022,C,Robert,Brown
10,110,17,M,XI,65,67,100,06-12-2022,O,lucy,gray
11,111,16,F,XI,74,77,95,10-06-2022,B,Simran,Singh
12,112,17,F,XI,74,87,89,10-06-2022,D,Patel,R.
13,113,17,M,X,74,77,98,06-12-2022,B,Patel,R.
14,114,17,M,XII,74,91,67,11-06-2022,D,Ali,Khan
15,115,16,F,XII,65,91,94,06-12-2022,B,Lucy,gray
16,116,16,F,XI,74,77,72,11-06-2022,O,Chris,P.
17,117,18,M,XI,67,74,81,10-06-2022,A,Ali,Khan
18,118,17,M,X,100,74,62,11-06-2022,B,Simran,Singh
19,119,17,M,XI,73,77,90,06-12-2022,A,Patel,R.
20,120,17,M,X,74,77,89,10-06-2022,B,Sara,O'Neil
21,121,18,F,XI,66,72,94,10-06-2022,B,John,Doe
22,122,17,M,XI,75,77,66,10-06-2022,A,Sara,O'Neil
23,123,17,F,XI,74,77,63,06-12-2022,O,jane,smith
24,124,18,M,XI,74,77,91,06-12-2022,A,John,Doe
25,125,17,M,XII,94,80,63,10-06-2022,B,Mike,O’Reilly
26,126,16,M,X,64,77,67,06-12-2022,A,John,Doe
27,127,16,F,XII,74,76,80,06-12-2022,D,Simran,Singh
28,128,17,F,XI,74,64,89,10-06-2022,B,Sara,O'Neil
29,129,17,M,XI,74,64,83,11-06-2022,B,Patel,R.
30,129,17,M,XI,74,64,83,11-06-2022,B,Patel,R.

In [25]:
cols = df.columns.tolist()

# Take last two columns
last_two = cols[-2:]

# Remaining columns except last two
remaining = cols[:-2]

# New column order: 1st column + last two + rest
new_order = [remaining[0]] + last_two + remaining[1:]

# Reorder DataFrame
df = df[new_order]

In [26]:
df

,ID,Frist_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Grade
0,100,jane,smith,16,F,XI,75,77,66,10-06-2022,O
1,101,John,Doe,16,M,X,74,95,94,10-06-2022,A
2,102,Chris,P.,16,M,X,74,77,69,06-12-2022,C
3,103,jane,smith,16,F,X,74,77,62,10-06-2022,B
4,104,Sara,O'Neil,16,M,XI,74,96,64,10-06-2022,A
5,105,Mike,O’Reilly,16,F,X,74,77,83,06-12-2022,C
6,106,ali,Khan,17,F,XI,64,77,75,06-12-2022,A
7,107,Sara,O'Neil,17,F,XII,74,63,62,11-06-2022,O
8,108,Mike,O’Reilly,16,F,XII,80,77,89,06-12-2022,D
9,109,Robert,Brown,17,F,XII,74,77,97,10-06-2022,C
10,110,lucy,gray,17,M,XI,65,67,100,06-12-2022,O
11,111,Simran,Singh,16,F,XI,74,77,95,10-06-2022,B
12,112,Patel,R.,17,F,XI,74,87,89,10-06-2022,D
13,113,Patel,R.,17,M,X,74,77,98,06-12-2022,B
14,114,Ali,Khan,17,M,XII,74,91,67,11-06-2022,D
15,115,Lucy,gray,16,F,XII,65,91,94,06-12-2022,B
16,116,Chris,P.,16,F,XI,74,77,72,11-06-2022,O
17,117,Ali,Khan,18,M,XI,67,74,81,10-06-2022,A
18,118,Simran,Singh,17,M,X,100,74,62,11-06-2022,B
19,119,Patel,R.,17,M,XI,73,77,90,06-12-2022,A
20,120,Sara,O'Neil,17,M,X,74,77,89,10-06-2022,B
21,121,John,Doe,18,F,XI,66,72,94,10-06-2022,B
22,122,Sara,O'Neil,17,M,XI,75,77,66,10-06-2022,A
23,123,jane,smith,17,F,XI,74,77,63,06-12-2022,O
24,124,John,Doe,18,M,XI,74,77,91,06-12-2022,A
25,125,Mike,O’Reilly,17,M,XII,94,80,63,10-06-2022,B
26,126,John,Doe,16,M,X,64,77,67,06-12-2022,A
27,127,Simran,Singh,16,F,XII,74,76,80,06-12-2022,D
28,128,Sara,O'Neil,17,F,XI,74,64,89,10-06-2022,B
29,129,Patel,R.,17,M,XI,74,64,83,11-06-2022,B
30,129,Patel,R.,17,M,XI,74,64,83,11-06-2022,B